@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600');

$gap: 10px;
// appbar + boardbar + boardcontent = 99, 1vh for scoll bar
$navbar-appbar-height: 5vh;
$navbar-boardbar-height: 6vh;
$boardcontent-height: 88vh;
$column-border-radius: 4px;


//color
$app-main-text-color: #333;
$board-bg-color:#0079bf;
$common-element-bg:rgba(255, 255, 255, .24);
$column-bg-color: #ebecf0;
$alert-danger: #ee5253;
