
@import '_setting.scss';



body {
    margin: 0;
    font-family: 'Source Sams Pro', sans-serif;
    font-size: 14px;
    line-height: 1.3em;
}

.AnhDuy_app{
    height: 100vh;
    overflow: hidden;
    background-color: $board-bg-color;

}